
.weatherLocationCont {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100%-20px);
    min-width: 400px;
    padding:15;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    box-shadow: 10px 10px 42px -12px;
    border-radius: 10px;
    cursor:pointer; 

}

.LocationCont {
    width: 100%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    color: slategrey;
    border-radius: 10px;
}

.LocationCont h1 {
    margin: 0;
}